html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width:100%;
  max-width: 100%;
}


input[type="text"]{
    width:95%;
    line-height: 15px;
    padding: 8px;
}

input {
  font-size: 20px; 
}

h3 {
  color: #595B5B;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#map {
  bottom:0px;
  height: 100%;
  display: block;
  width: 100%;
}

.options-box {
  background: #FFFFFF;
  border: 1px solid #999;
  border-radius: 2px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  z-index: 1;
  position: absolute;
}

@media  only screen and (max-width : 600px){
    .options-box {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0px;
    }

    input[type="text"]{
        width: 90%;
    }

    .menu_simple ul li {
        float : left;
        display: inline;
    }

    body {
        font-size: 12px;
    }
}

#filter {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
}

/* CSSTerm.com Simple CSS menu */

.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:100%;
    list-style-type: none;
    padding : 5px;
}

.menu_simple ul li {
    text-decoration: none;
    color: #000000; 
    padding: 6px 6px;
    background-color: #FFFFFF;
    display:block;
    cursor: pointer;
}

 
.menu_simple ul li:hover, .menu_simple ul li .current {
    color: #000000;
    background-color: #20AFD7;
}